.hero{
    height: 100vh;
    color: rgb(75, 75, 75);

    --s: 25px; /* control the size*/
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;
    
    --_g: var(--c3) 0 120deg,#0000 0;
    background:
        conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
        conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
        conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
        conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
        linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                            var(--c1) 0 calc(500%/6),var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
    justify-content: center;
    text-align: center;
    padding: 2rem;

}
.update-form{
    background-color: #acaaaa;
    width: 75%;
    margin: auto;
    border-color: black;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    text-align: center;
    height: 50vh;
    row-gap: 2rem;
    display: flex;
    justify-content: center;
}
.mb-3{
    padding: 1rem;
}
.formInputs{
    display: flex;
    flex-direction: column;
}
.content{
    width: 15rem;
    height: 15rem;
    overflow-wrap: break-word;
}